@import "tailwindcss";

.hero-overlay {
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0) 85.11%, rgba(0, 0, 0, 0.09) 100%), rgba(0, 0, 0, 0.25);
}

body {
  background-color: #f9f7f6;
}

.nav {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: -0.16px;
}

.h1-display {
  font-family: Poppins;
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: -1.8px;
}

@media (min-width: 768px) {
  .h1-display {
    font-size: 80px;
    line-height: 120%;
    letter-spacing: -2.4px;
  }
}

.h1-desktop {
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: -0.9px;
}

@media (min-width: 768px) {
  .h1-desktop {
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -1.2px;
  }
}

.h2-desktop {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

@media (min-width: 768px) {
  .h2-desktop {
    font-size: 20px;
  }
}

.h2-display {
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: -1.08px;
}

@media (min-width: 768px) {
  .h2-display {
    font-size: 60px;
    line-height: 120%;
    letter-spacing: -1.8px;
  }
}

.h2 {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

@media (min-width: 768px) {
  .h2 {
    font-size: 20px;
  }
}

.infos {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 18.2px */
  letter-spacing: -0.14px;
}

.body {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

@media (min-width: 768px) {
  .body {
    font-size: 14px;
    line-height: 130%;
  }
}

.body-2 {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

@media (min-width: 768px) {
  .body-2 {
    font-size: 12px;
    line-height: 130%;
    letter-spacing: -0.12px;
  }
}

.buttons {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

@media (min-width: 768px) {
  .buttons {
    font-size: 14px;
  }
}

.tiny {
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 180%;
  letter-spacing: -0.36px;
}

@media (min-width: 768px) {
  .tiny {
    line-height: 150%;
  }
}

.button {
  @apply w-fit rounded-sm border border-[#140D01] px-10 py-3 transition-all duration-300 ease-out hover:bg-[#140D01] hover:text-white;
}

.button-white {
  @apply w-fit rounded-sm border border-[#F9F7F6] px-10 py-3 transition-all duration-300 ease-out hover:bg-[#F9F7F6] hover:text-[#140D01];
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity, clip-path;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 10000;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}

@custom-variant standalone {
  @media (display-mode: standalone) {
    @slot;
  }
}
