@import "tailwindcss";

.hero-overlay {
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0) 85.11%, rgba(0, 0, 0, 0.09) 100%), rgba(0, 0, 0, 0.25);
}

body {
  background-color: #f9f7f6;
}

.nav {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: -0.16px;
}

.h2-display {
  font-family: Poppins;
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: -1.8px;
}

.h2 {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.infos {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.14px;
}

.buttons {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.tiny {
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: -0.36px;
}
