@import "tailwindcss";

.hero-overlay {
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0) 85.11%, rgba(0, 0, 0, 0.09) 100%),
    rgba(0, 0, 0, 0.25);
}

.nav {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: -0.16px;
}

body {
  background-color: #f9f7f6;
}
