@import "tailwindcss";
@import "plyr/dist/plyr.css";

.hero-overlay {
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0) 85.11%, rgba(0, 0, 0, 0.09) 100%), rgba(0, 0, 0, 0.25);
}

body {
  background-color: #f9f7f6;
}

.nav {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: -0.16px;
}

.h1-display {
  font-family: Poppins;
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: -1.8px;
}

@media (min-width: 768px) {
  .h1-display {
    font-size: 80px;
    line-height: 120%;
    letter-spacing: -2.4px;
  }
}

.h1-special {
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%; /* 46.8px */
  letter-spacing: -1.08px;
}

@media (min-width: 768px) {
  .h1-special {
    font-size: 80px;
    line-height: 120%;
    letter-spacing: -2.4px;
  }
}

.h1-desktop {
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: -0.9px;
}

@media (min-width: 768px) {
  .h1-desktop {
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -1.2px;
  }
}

.h2-desktop {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

@media (min-width: 768px) {
  .h2-desktop {
    font-size: 20px;
  }
}

.h2-display {
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: -1.08px;
}

@media (min-width: 768px) {
  .h2-display {
    font-size: 60px;
    line-height: 120%;
    letter-spacing: -1.8px;
  }
}

.h2 {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

@media (min-width: 768px) {
  .h2 {
    font-size: 20px;
  }
}

.infos {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 18.2px */
  letter-spacing: -0.14px;
}

.body {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

@media (min-width: 768px) {
  .body {
    font-size: 14px;
    line-height: 130%;
  }
}

.body-2 {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

@media (min-width: 768px) {
  .body-2 {
    font-size: 12px;
    line-height: 130%;
    letter-spacing: -0.12px;
  }
}

.buttons {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

@media (min-width: 768px) {
  .buttons {
    font-size: 14px;
  }
}

.tiny {
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 180%;
  letter-spacing: -0.36px;
}

@media (min-width: 768px) {
  .tiny {
    line-height: 150%;
  }
}

.button {
  @apply w-fit rounded-sm border border-[#140D01] px-10 py-3 transition-all duration-300 ease-out hover:bg-[#140D01] hover:text-white;
}

.button-white {
  @apply w-fit rounded-sm border border-[#F9F7F6] px-10 py-3 transition-all duration-300 ease-out hover:bg-[#F9F7F6] hover:text-[#140D01];
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity, clip-path;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 10000;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}

@custom-variant standalone {
  @media (display-mode: standalone) {
    @slot;
  }
}

/* Plyr YouTube Player Custom Styling */
:root {
  --plyr-color-main: #140d01;
}

.plyr__volume input[type="range"],
.plyr__progress input[type="range"] {
  color: white;
}

.plyr__poster {
  background-size: cover;
}

.plyr--stopped .plyr__controls {
  opacity: 0;
}

.plyr__controls .plyr__control {
  background: rgba(255, 255, 255, 0.2);
}

.plyr__controls .plyr__control:hover {
  background: #140d01;
}

.plyr__controls .plyr__control:hover svg {
  fill: white;
}

.plyr__control--overlaid,
.plyr__control--overlaid:hover {
  background: white !important;
}

.plyr__control--overlaid svg {
  fill: #140d01;
}

.plyr__control--overlaid {
  padding: calc(var(--plyr-control-spacing, 10px) * 3.5);
}

@media all and (max-width: 767px) {
  .plyr__control--overlaid {
    padding: calc(var(--plyr-control-spacing, 10px) * 2);
  }
}

.plyr__video-wrapper {
  background: transparent;
}

.plyr__video-wrapper iframe {
  background: transparent;
}

.plyr-instance {
  background: transparent;
}

@media all and not (display-mode: fullscreen) {
  .plyr iframe[id^="youtube"] {
    top: -50%;
    height: 200%;
  }
}

.plyr__control .plyr__control--overlaid {
  background-color: #f4f4f4 !important;
}

.plyr__control--overlaid svg {
  fill: #121212 !important;
}

/* Hide default Plyr play icon and replace with our custom VideoPlayIcon */
.plyr__control--overlaid[data-plyr="play"] svg {
  display: none !important;
  width: 100%;
}

.plyr--video {
  position: relative !important;
  width: 100% !important;
}

.plyr--full-ui.plyr--video .plyr__control--overlaid {
  padding: 0 !important;
  width: 100% !important;
}

.plyr__control--overlaid[data-plyr="play"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10%;
  aspect-ratio: 1;
  background-image: url("/VideoPlayIcon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.rich-text {
  p {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #8e8e8e;
  }

  @media (min-width: 768px) {
    p {
      font-size: 14px;
      line-height: 130%;
    }
  }

  ul {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #8e8e8e;
    list-style-position: inside;
    list-style-type: disc;
  }

  @media (min-width: 768px) {
    ul {
      font-size: 14px;
      line-height: 130%;
    }
  }

  a {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #8e8e8e;
    text-decoration: underline;
  }

  @media (min-width: 768px) {
    a {
      font-size: 14px;
      line-height: 130%;
    }
  }

  h2 {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-top: 77px;
    margin-bottom: 10px;
  }

  @media (min-width: 768px) {
    .h2 {
      font-size: 20px;
    }
  }
}
